<a href="https://colab.research.google.com/github/RAVIKUMARBALIJA/PySparkTutorials/blob/main/Pyspark_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [105]:
import numpy as np
import pandas as pd
import math

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 64kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 42.1MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=759cb949a5e9751a2697c46f4269cce5929ee71c1ad8f6ec2a6d974caf706aa3
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [15]:
import pyspark
import os

In [7]:
from pyspark.sql import SparkSession

In [9]:
spark=SparkSession.builder.appName('practice').getOrCreate()

In [10]:
spark

In [16]:
os.getcwd()

'/content'

In [18]:
df=spark.read.csv('/content/sample_data/dataset/test1.csv',encoding='utf-8')

In [19]:
df.columns

['_c0', '_c1']

In [21]:
df.count()

4

In [22]:
df.dtypes

[('_c0', 'string'), ('_c1', 'string')]

In [24]:
df.show()

+---------+---+
|      _c0|_c1|
+---------+---+
|     Name|age|
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
+---------+---+

In [26]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

In [29]:
df.select(['_c0']).show()

+---------+
|      _c0|
+---------+
|     Name|
|    Krish|
|Sudhanshu|
|    Sunny|
+---------+

In [35]:
df=df.withColumnRenamed('_c1','age')

In [39]:
df=df.withColumn('age2',df.age+10)

In [41]:
df.show()

+---------+---+----+
|      _c0|age|age2|
+---------+---+----+
|     Name|age|null|
|    Krish| 31|41.0|
|Sudhanshu| 30|40.0|
|    Sunny| 29|39.0|
+---------+---+----+

In [95]:
df2=spark.read.option('header','true').csv('/content/sample_data/dataset/Book1.csv')

In [51]:
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [53]:
df2.select(['Name','age','Salary'])

DataFrame[Name: string, age: string, Salary: string]

In [54]:
df2.select(['Name','age','Salary']).show()

+---------+----+------+
|     Name| age|Salary|
+---------+----+------+
|    Krish|  31| 30000|
|Sudhanshu|  30| 25000|
|    Sunny|  29| 20000|
|     Paul|  24| 20000|
|   Harsha|  21| 15000|
|  Shubham|  23| 18000|
|   Mahesh|null| 40000|
|     null|  34| 38000|
|     null|  36|  null|
+---------+----+------+

In [57]:
df2.head(5)

[Row(Name='Krish', age='31', Experience='10', Salary='30000'),
 Row(Name='Sudhanshu', age='30', Experience='8', Salary='25000'),
 Row(Name='Sunny', age='29', Experience='4', Salary='20000'),
 Row(Name='Paul', age='24', Experience='3', Salary='20000'),
 Row(Name='Harsha', age='21', Experience='1', Salary='15000')]

In [63]:
for row in df2:
  print(row)

Column<'Name'>
Column<'age'>
Column<'Experience'>
Column<'Salary'>

In [64]:
for row in df2.show():
  print(row)

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

TypeError: ignored

In [66]:
for row in df2.head(5):
  print(row.Name)

Krish
Sudhanshu
Sunny
Paul
Harsha

In [79]:
df2=df2.withColumn('age2',df2.age+20)

In [80]:
df2.show()

+---------+----+----------+------+----+
|     Name| age|Experience|Salary|age2|
+---------+----+----------+------+----+
|    Krish|  31|        10| 30000|51.0|
|Sudhanshu|  30|         8| 25000|50.0|
|    Sunny|  29|         4| 20000|49.0|
|     Paul|  24|         3| 20000|44.0|
|   Harsha|  21|         1| 15000|41.0|
|  Shubham|  23|         2| 18000|43.0|
|   Mahesh|null|      null| 40000|null|
|     null|  34|        10| 38000|54.0|
|     null|  36|      null|  null|56.0|
+---------+----+----------+------+----+

In [85]:
df2=df2.drop('age2')

In [86]:
df2.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [96]:
df2.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [97]:
df2.na.drop(how='any').show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [98]:
df2.na.drop(how='all').show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [99]:
df2.na.fill('NA',['Experience','age']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh| NA|        NA| 40000|
|     null| 34|        10| 38000|
|     null| 36|        NA|  null|
+---------+---+----------+------+

In [101]:
df2.na.drop(how='all').show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [107]:
from pyspark.ml.feature import Imputer

In [110]:
a=[f'{c}_imputed' for c in ['age','Experience','Salary']]

In [111]:
print(a)

['age_imputed', 'Experience_imputed', 'Salary_imputed']

In [113]:
imputer=Imputer(inputCols=['age','Experience','Salary'],\
                outputCols=[f'{c}_imputed' for c in ['age','Experience','Salary']]).setStrategy('median')

In [115]:
type(imputer)

pyspark.ml.feature.Imputer

In [117]:
imputer.fit(df2)

IllegalArgumentException: ignored

In [119]:
df3=spark.read.csv('/content/sample_data/dataset/Book1.csv',header=True,inferSchema=True)

In [123]:
df3.printSchema

In [125]:
imputer.fit(df3).transform(df3).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         29|                 4|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 4|         20000|
+---------+----+----------+------+-----------+------------------+--------------+